<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="inc/layout">

<!-- ---------------------------------------------------------------------- -->
<main layout:fragment="content">
    <section>
        <header class="header-default">
            <h1 class="text-title1-h1">보안오류</h1>
        </header>
        <div>
            권한이 없습니다.<br>
            <a href="javascript:history.go(-2);">이전 페이지</a>
        </div>
    </section>
</main>

</html>